{{ define "main" }}
 <!--{{ partial "about" . }}-->
<img src="/images/background2.jpg" alt="background" style="width: 100%; height: auto; object-fit: cover; margin-top: 8px;"/>
<img src="/images/background.jpg" alt="background" style="width: 100%; height: auto; object-fit: cover; margin-top: 8px;"/>
<div class="list">
  {{ $pages := where .Site.RegularPages "Section" "posts" }}
  {{ $pages = $pages.ByDate.Reverse }}
  {{ range (.Paginate $pages 5).Pages }}

  <div class="listItem">
    <div class="listItemTexts">
      <h1 class="listItemTitle">
        <a href="{{.Permalink}}">{{.Title}}</a>
      </h1>
      <p class="listItemDesc">{{.Params.description}}</p>
      <div class="listItemDetail">
        <img src="{{.Params.avatar}}" loading="lazy" alt="" class="listItemAvatar"/>
        <span>{{ range (.GetTerms "authors")}}
          {{ .Name }}
          {{end}}
        </span>
        <time>{{ dateFormat .Site.Params.dateFormat  .Date}}</time>
      </div>
      <div class="listItemCategories">
        {{ range (.GetTerms "tags") }}
        <a class="listItemCategory" href={{ .Permalink }}>#{{ .Name }}</a>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
  {{ template "_internal/pagination.html" . }}
</div>
{{ end }}
