<div class="about-container">
    <div style="flex: 2;">
        <h2>8 Wochen in Schweden – Mein Herbst zwischen Bücherregalen und Schärenküste</h2>
        <br>
        <p>Hej allihopa!
Ich bin Lena, Auszubildende zur Fachangestellten für Medien- und Informationsdienste im 3. Lehrjahr an der Humboldt-Universität zu Berlin.<br><br>

Dieser Blog entsteht im Rahmen eines achtwöchigen Erasmus+-Praktikums in Schweden. Vom 27. September bis zum 22. November 2025 werde ich in der Stadtbibliothek der kleinen Küstenstadt Härnösand arbeiten.<br><br>
Härnösand liegt an der Küste von Ångermanland, in der Region Västernorrlands län, im nördlichen Mittelschweden – umgeben von Küste und Schären. Mit seinen knapp 20.000 Einwohnern wird Härnösand für mich, im Vergleich zu Berlin, eine ganz andere Erfahrung – eine Stadt, in der alles ein bisschen kleiner, übersichtlicher und hoffentlich auch persönlicher ist.<br><br>
Aber warum überhaupt Schweden?<br>
Ich habe schon als Kind viele Urlaube in Schweden verbracht und fühle mich dem Land seitdem verbunden. Da meine Familie Vorfahren und entfernte Verwandte in Schweden hat, hat mein Papa in meiner Kindheit Schwedischkurse an der Volkshochschule besucht und mir allerlei beizubringen versucht – vom Zählen bis 20 bis zur Nationalhymne. Als angehende FaMI muss ich natürlich noch erwähnen, dass zu meinen Lieblingsgeschichten als Kind Pippi Langstrumpf und Michel aus Lönneberga von Astrid Lindgren gehörten.<br><br>

In diesem Blog möchte ich von meinen Erfahrungen im nordischen Bibliotheksleben berichten, aber auch von allen Erlebnissen, die ich außerhalb der Arbeit machen werde.
Dieses Online-Tagebuch ist für alle, die meine Reise verfolgen möchten: Kolleg*innen, Mitschüler*innen, Lehrer*innen, Freunde und Familie.<br>
<br>
Ich freue mich, wenn ihr mich auf meinem Abenteuer begleitet!</p>
    </div>
    <div style="flex: 1;">
        <img src="/images/aelgpark.jpg" alt="Lena" style="max-width: 100%; height: auto; border-radius: 8px;">
    </div>
</div>
<hr>

<style>
    .about-container {
        display: flex;
        align-items: center;
        gap: 2em;
        margin-bottom: 1rem;
    }
    @media (max-width: 768px) {
        .about-container {
            flex-direction: column-reverse;
        }
    }
    .about-container img {
        border-radius: 8px;
    }
    .about-container p {
        line-height: 1.2;
    }
    hr {
       
        border-top: 2px solid #666;
    }
</style>
